<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Hello
        {% endblock %}
    </title>
</head>
<body>
    <div class="header">
        Hello World from render!<br>
    </div>
    <a href="http://127.0.0.1:8000/universityInfo">Информация об Университете<br></a>
    <a href="http://127.0.0.1:8000/disciplineInfo">Данные о дисциплине<br></a>
    <a href="http://127.0.0.1:8000/groupsInfo">Данные о группе<br></a>
    <a href="http://127.0.0.1:8000/departmentsInfo">Данные по кафедрам<br></a>
    <a href="http://127.0.0.1:8000/universityStructure">Структура университета</a>
</body>
</html>